body{
    background: linear-gradient(135deg, #FACDE5 0%, #EFC3DB 72.92%, #F0CBDF 97.59%);
}

.rectangle{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
img{
    border-radius: 40px;
    width: 300px;
    height: 350px;
    margin-left: 20px;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 20px;
    width: 300px;
}


.form-login > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #736262;
}

.form-login > a {
    align-self: flex-end;
}

.form-login > p{
    justify-self: flex-end;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 130%;
    height: 50px;
    border-radius: 20px;
    background: #d9d9d9;
    border: #d9d9d9;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 20%;
}

button{
    width: 150%;
    height: 50px;
    border-radius: 20px;
    background: #DE91BC;
    border: #DE91BC;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

#username{
    background-image: url('../img/icon/user-regular.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px; /* Kích thước của icon */
}
#email{
    background-image: url('../img/icon/envelope-regular.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px; /* Kích thước của icon */
}
#password{
    background-image: url('../img/icon/lock-solid.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px; /* Kích thước của icon */
}

@media (width >= 300px){
    .rectangle{
        width: 400px;
    }
}

@media (width >= 700px){
    .rectangle{
        width: 700px;
    }
}

.fa-user {
    position: absolute; /* Để icon search nằm trên cùng bên trái của input */
    margin-top: 10px; /* Để icon search ở giữa chiều cao của input */
    margin-left: 10px; /* Để icon search cách lề trái input một khoảng */
    color: gray; /* Để icon search có màu xám */
}
